openai
pydantic
python-dotenv
pandas
PyPDF2
PyMuPDF
numpy
openpyxl
chardet
tabula-py
python-docx
Pillow
requests
fastapi[all]
uvicorn[standard]
python-dateutil
google-auth
google-api-python-client
msgraph-core
msgraph-sdk
reportlab
azure-identity
azure-core
azure-storage-blob
azure-storage-file-share
supabase
google_auth_oauthlib
msal
aiofiles>=23.1.0
anthropic
pytest
matplotlib
seaborn
fastapi-cache2
redis
gunicorn
smart_open
boto3>=1.34.69
tenacity>=8.2.0