option_settings:
  aws:ec2:instances:
    InstanceTypes: t2.micro
  aws:autoscaling:launchconfiguration:
    RootVolumeType: gp3
    DisableIMDSv1: true
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  aws:elasticbeanstalk:application:environment:
    MAX_SNAPSHOT_LENGTH: "1000"
    PORT: "8000" 